COMPOSE_PROJECT_NAME=telegram-content-hub

POSTGRES_DB=telegram_content_hub
POSTGRES_USER=telegram_hub
POSTGRES_PASSWORD=telegram_hub_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET=telegram-media
MINIO_USE_SSL=false

API_PORT=8080
API_BASE_URL=http://api:8080
NEXT_PUBLIC_API_URL=http://localhost:8080
WEB_ALLOWED_ORIGINS=http://localhost:3000

TELEGRAM_BOT_TOKEN=
TELEGRAM_LOGIN_BOT_USERNAME=pasechnikov_bot
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_WORKER_SESSION=./data/telethon.session

API_IMAGE=ghcr.io/neumann96/telegram-content-hub-api:latest
WEB_IMAGE=ghcr.io/neumann96/telegram-content-hub-web:latest
WORKER_IMAGE=ghcr.io/neumann96/telegram-content-hub-worker:latest
